.options i {
    width: 33.33%;
    margin: 5% 0;
    cursor: pointer;
}

.options {
    display: flex;
    flex-flow: row wrap;
}

.imgContainer {
    max-width: 100px;
}

.imgContainerBig {
    width: 100%;
    overflow: hidden;
    max-height: 350px;
}

.imgContainerBig img {
    height: 100%;
    max-width: 150%;
    position: relative;
    top: 50%;
    left: 50%;
}

.imgContainer img {
    width: 100%;
}

.table-head {
    font-weight: 900;
    padding: 0 3em;
}

th,
td {
    padding: 7px 5px;
}

.row-header {
    width: 100%;
    margin-bottom: 0;
}

.collapsible-header {
    padding: 10px 2rem 0;
}

.collapsible-header i {
    font-size: 1.2rem;
    margin-top: 1em;
}

.bordered th {
    text-transform: capitalize;
}