<div class="collapsible-header" (click)="onExpand(item[service.objectKeys.id])">


    <div class="row row-header">

        <div class="col col-headers{{col.colspan}}" *ngFor="let col of service.columns">
            <div [ngSwitch]="col.type">

                <div *ngSwitchCase="'image'">
                    <div class="imgContainer">
                        <img [src]="getThumnail(this.item[col.key])" alt="">
                    </div>
                </div>


                <div *ngSwitchCase="'boolean'">
                    <i class="fas fa-check blue-text" *ngIf="item[col.key]"></i>
                </div>


                <div *ngSwitchDefault>
                    <p><b>{{item[col.key]}}</b></p>
                </div>
            </div>
        </div>

        <div *ngIf="service.options" class="col s2 right {{service.pushValue}} options">
            <i *ngIf="service.options.edit" class="fas fa-pencil-alt blue-text" (click)="service.triggerEdit(item[service.objectKeys.id])"></i>
            <i *ngIf="service.options.view" class="fas fa-eye light-blue-text lighten-2" (click)="service.triggerView(item[service.objectKeys.id])"></i>
            <i *ngIf="service.options.go" class="fas fa-external-link green-text" (click)="service.triggerGo(item[service.objectKeys.id])"></i>
            <i *ngIf="service.options.delete" class="fas fa-trash red-text" (click)="service.triggerDel(item[service.objectKeys.id])"></i>
            <!-- <i class="fas fa-chevron-down black-text" ></i> -->
        </div>
    </div>
</div>